<!DOCTYPE html>
<html>
<head>
  <title>Appointments</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>Appointments</h1>

    
      
      <ul>
       
      </ul>
    </body>
    </html>
    
