<%- include('partials/header'); -%>
<html>
    <h1>Contact Us</h1>
    <p>Phone: 555-555-5555</p>
    <p>Email:
        <a href="mailto:discord8680@gmail.com" target="_blank">discord8680@gmail.com</a>
    </p>
</html>