<%- include('partials/header'); -%>
<html>
<head>
    <meta charset="utf-8">
    <title>Error</title>
</head>
<style>
    
    .error-link {
        color: #536ae9;
    }
    #error-body{
        text-align: center;
    }
</style>
<body id="error-body">
    <h1>Oops! An error occurred.</h1>
    <p>Sorry, it seems that there was an error.</p>
    <p>Please click <a class="error-link" href="/">here</a> to go back to the homepage.</p>
</body>
</html>
<%- include('partials/footer'); -%>