<%- include('partials/header'); -%>
<title>Home</title>
<header>
  
    <img src="/TechSolutions.jpg" alt="">
  
  <div class="headings">
    <h2></h2>
    <h3>Welcome to the realm of Tech Solutions, where cutting-edge technology meets unmatched skills and expertise.</h3>
    <a href="/services" class="btn">View Our Services</a>
    <a href="/schedule" class="btn">Book an Appointment</a>
  </div>
</header>


<%- include('partials/footer'); -%>