
<%- include('partials/header'); -%>


  <title>Data Usage Policies</title>
</head>
<style>
    h1, h2 {
      text-align: center;
    }
    p {
      margin-bottom: 1.5em;
      line-height: 1.5;
    }
  </style>
<body>
  <h1>Data Usage Policies</h1>
<br><br>
  <h2>Privacy Statement</h2>
  <p>We are committed to protecting your privacy and ensuring the security of your personal information. This privacy statement explains how we collect, use, and safeguard your data when you use our services.</p>

  <h2>Data Collection</h2>
  <p>When you sign up or use our services, we may collect the following information:</p>
  <ul>
    <li>First name and last name</li>
    <li>Email address</li>
    <li>Password</li>
    <li>Phone number</li>
    <li>Service Type Selected</li>
    <li>Appointment details (date, time, description)</li>
  </ul>
  <p>We collect this information to provide our services, communicate with you, and improve our service offerings.</p>

  <h2>Data Usage</h2>
  <p>We may use your data for the following purposes:</p>
  <ul>
    <li>Creating and managing user accounts</li>
    <li>Processing and scheduling appointments</li>
    <li>Sending appointment confirmations and reminders</li>
    <li>Providing customer support</li>
    <li>Improving our services</li>
    <li>Analyzing usage trends</li>
    <li>Enforcing our terms and policies</li>
  </ul>
  <p>We may also use your data in an aggregated and anonymized form for statistical purposes.</p>

  <h2>Data Sharing</h2>
  <p>We may share your data with the following third parties:</p>
  <ul>
    <li>SendGrid: We use SendGrid to send email notifications related to your appointments.</li>
    <li>MongoDB Atlas: We store and manage our database using MongoDB Atlas.</li>
  </ul>
  <p>We do not sell, trade, or rent your personal information to third parties for marketing purposes.</p>

  <h2>Data Security</h2>
  <p>We take appropriate security measures to protect your data against unauthorized access, alteration, disclosure, or destruction. However, please note that no method of transmission over the internet or electronic storage is completely secure.</p>

  <h2>Retention of Data</h2>
  <p>We retain your data for as long as necessary to fulfill the purposes outlined in this privacy statement, unless a longer retention period is required by law.</p>

  <h2>Updates to Policies</h2>
  <p>We may update our data usage policies from time to time. Any changes will be reflected on this page, and we encourage you to review this page periodically.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions or concerns about our data usage policies, please contact us at  <a href="mailto:techsolutions598@gmail.com">techsolutions598@gmail.com</a>.</p>
</body>

<%- include('partials/footer'); -%>
